// MOBILE
.carts {
  h4 {
    font-size: 16px;
    color: $second-color;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid $second-color;
  }

  .carts-sub-div {
    display: flex;
    flex-direction: column;
    // box-shadow: 0 0 2px $base-color;
    // border-radius: 10px 10px 0 0;
    padding: 1vh;
    min-height: 50vh;

    .carts-items {
      flex: 1; // burasi summary kisminin bölümü icin
      // order: 1;

      .cart-header {
        // background-color: wheat;
        display: flex;
        align-items: flex-end;
        min-height: 30px;
        margin: 5px 0;

        p {
          border-bottom: 1px solid black;
          text-align: center;
          font-size: 14px;
          margin: 0;
          &:first-child {
            // background-color: red;
            flex: 4;
          }
          &:nth-child(2) {
            // background-color: yellow;
            flex: 3;
          }
          &:nth-child(3) {
            // background-color: red;
            flex: 1;
          }
          &:nth-child(4) {
            // background-color: yellow;
            flex: 1;
            color: #fff;
          }
        }
      }

      .cart-item {
        display: flex;
        align-items: center;
        min-height: 30px;
        margin: 1vh 0;
        // background-color: salmon;
        p {
          // background-color: saddlebrown;
          font-size: 12px;
          line-height: 30px;
          margin: 0;
          &:first-child {
            flex: 4;
          }
          &:nth-child(3) {
            flex: 1;
            text-align: center;
          }
          &:nth-child(4) {
            flex: 1;
          }
        }
        .count-item {
          flex: 3;
          display: flex;
          height: 30px;
          align-items: center;

          p {
            flex: 5;
            text-align: center;
            line-height: 30px;
          }
          button {
            width: 30px;
            height: 30px;
            flex: 2;
            font-size: 14px;
            margin: 0 5px;
          }
        }
        button {
          flex: 1;
          color: $third-color;
          background-color: $first-color;
          height: 30px;
          width: 30px;
          font-size: 12px;
          &:hover {
            background-color: $second-color;
            color: $first-color;
          }
        }
      }
    }

    .summary {
      border: 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin: 2vh auto;
      flex-basis: 200px;

      input {
        background-color: $first-color;
        color: $third-color;
        height: 40px;
        width: 150px; // 200px

        &:hover {
          background-color: $second-color;
          color: $first-color;
        }
      }
    }
  }
}

// TABLET
@media screen and (min-width: 480px) and (max-width: 959px) {
  .carts {
    padding: 5vh;

    h4 {
      font-size: 24px;
      border: none;
    }

    .carts-sub-div {
      .carts-items {
        .cart-header {
          p {
            font-size: 16px;
            &:first-child {
              flex: 3;
            }
            &:nth-child(2) {
              flex: 1;
            }
            &:nth-child(3) {
              flex: 1;
            }
            &:nth-child(4) {
              flex: 0.25;
            }
          }
        }

        .cart-item {
          p {
            font-size: 16px;
            &:first-child {
              flex: 3;
            }
            &:nth-child(3) {
              flex: 1;
            }
            &:nth-child(4) {
              flex: 1;
            }
          }
          .count-item {
            flex: 1;
            display: flex;
            p {
              flex: 2;
            }
            button {
              flex: 1;
              font-size: 14px;
            }
          }
          button {
            flex: 0.25;
          }
        }
      }

      .summary {
        width: 50%;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 960px) {
  .carts {
    max-width: 85vw;
    margin: 0 auto;
    padding: 5vh;

    h4 {
      font-size: 24px;
      border: none;
    }

    .carts-sub-div {
      flex-direction: row;
      justify-content: center;

      .carts-items {
        max-width: 600px;
        .cart-header {
          p {
            font-size: 16px;
            &:first-child {
              flex: 3;
            }
            &:nth-child(2) {
              flex: 1;
            }
            &:nth-child(3) {
              flex: 1;
            }
            &:nth-child(4) {
              flex: 0.25;
            }
          }
        }

        .cart-item {
          p {
            font-size: 16px;
            &:first-child {
              flex: 3;
            }
            &:nth-child(3) {
              flex: 1;
            }
            &:nth-child(4) {
              flex: 1;
            }
          }
          .count-item {
            flex: 1;
            display: flex;
            p {
              flex: 2;
            }
            button {
              flex: 1;
              font-size: 14px;
            }
          }
          button {
            flex: 0.25;
          }
        }
      }

      .summary {
        max-width: 200px;
        max-height: 300px;
        margin: 5px 5px 5px 15px;
        border: 1px solid;

        input {
          max-width: 120px;
        }
      }
    }
  }
}
