.cart {
  border: 1px solid $first-color;
  border-radius: 8px;
  width: 500px;
  margin: 7vh auto;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 3px 3px 4px $first-color;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
  }
  p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  input {
    height: 50px;
    width: 150px;
    color: $third-color;
    background-color: $first-color;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $first-color;
      background-color: $second-color;
    }
  }
}

@media all and (max-width: 768px) {
  .cart {
    margin: 1vh auto;
    width: 95vw;
    min-height: 80vh;
  }
}
