.category {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin: 0 auto;
    max-width: 90vw;
    min-height: 75vh;

    h1 {
        margin: 20px 0;
        background-color: $third-color;
        color: $first-color;
        text-align: center;
        text-transform: capitalize;
        padding: 25px;
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      
}

@media all and (max-width: 768px) {
    .category {
        .items {
            flex-direction: column;
        }
    }
  }