.category {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin: 0 auto;
    // max-width: 90vw;
    min-height: 75vh;

    h1 {
        position: relative;
        left: 0vw;
        margin: 10px 0;
        width: 100vw;
        border-bottom: 1px solid $third-color;
        // box-shadow: 1px 2px 1px $third-color;
        color: $second-color;
        text-align: left;
        text-transform: uppercase;
        padding: 25px 0;
        font-size: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
      }
      
}

@media all and (max-width: 768px) {
    .category {
        .items {
            flex-direction: column;
        }
    }
  }