// MOBILE
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 90vh;
  max-width: 600px;

  img {
    display: block;
    margin: 0 auto;
    height: 20vh;
  }

  form {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: none;

    h5 {
      margin-bottom: 2vh;
      color: $second-color;
      text-align: center;
    }
    label {
      display: flex;
      flex-direction: column;
      width: 80%;
      color: $first-color;
      margin: 5px auto;
      line-height: 30px;

      input {
        line-height: 30px;
        display: block;
        padding: 5px;
        border: 1px solid $third-color;
        border-radius: 5px;

        &:focus {
          border: 2px solid $second-color;
        }
        &[type="submit"] {
          width: 50%;
          margin: 0 auto;
          background-color: $first-color;
          border-radius: 3px;
          color: #fff;

          &:hover {
            background-color: $second-color;
            color: $first-color;
          }
        }
      }
    }
  }
}
// TABLET
@media screen and (min-width: 480px) and (max-width: 959px) {
  // form {
  // }
}

// DESKTOP
@media screen and (min-width: 960px) {
  .forms {
    flex-direction: row-reverse;
    max-width: 90vw;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    min-height: 90vh;

    img {
      height: 25vh;
    }

    form {
      width: 600px;
      min-height: 85vh;
      margin: 0 auto;
      // border: 1px solid $base-color;
      // border-radius: 10px;
      background-color: rgba(205, 215, 214, 0.1);
    }
  }
}
