// MOBILE
form {
  img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
  }
  max-width: 600px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 5% auto;
  padding: 5% 0;
  border: 3px solid $base-color;
  border-radius: 10px;

  label {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: $first-color;
    margin: 5px auto;
    line-height: 30px;

    input {
      line-height: 30px;
      display: block;
      padding: 5px;
      border: 1px solid $third-color;

      &:focus {
        border: 2px solid $second-color;
      }
      &[type="submit"] {
        width: 50%;
        margin: 0 auto;
        background-color: $first-color;
        border-radius: 3px;
        color: #fff;

        &:hover {
          background-color: $second-color;
          color: $first-color;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  form {
    margin: 0;
    padding: 0;
    border: none;
  }
}
