nav {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  font-family: inter;
  background-color: $first-color;
  
  .logo {
    margin-left: 5vw;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $third-color;
    
    &:hover {
      cursor: pointer;
      color: $second-color;
    }
  }

  .styledBurger {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-right: 5vw;
  }

  .nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 1;

    li {
      a {
        padding: 10px 20px;
        font-size: 1.1rem;
        font-weight: normal;
        cursor: pointer;

        &:hover {
          color: $second-color;
          border-bottom: 2px solid $second-color;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  nav {
    .nav-links {
      position: absolute;
      display: block;
      top: 10vh;
      left: 0;
      height: 90vh;
      background: $first-color;
      padding: 40px;
      width: 100%;
      transform: translate(0px);
      transition: 0.5s ease-in-out;

      li {
        display: flex;
        flex-direction: column;
        // background-color: crimson;
        
        a {
          color: $third-color;
          padding: 25px;
          border-bottom: 1px solid $third-color;
          
          &:hover {
            border-bottom: 1px solid $second-color;
          }
        }
      }
    }

    .styledBurger {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;

      div {
        width: 2rem;
        height: 0.25rem;
        background-color: $third-color;
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;

        &.bg-color {
          background-color: $second-color;
        }

        &.rot1 {
          transform: rotate(45deg);
        }
        &.rot2 {
          transform: translateX(100%);
          opacity: 0;
        }
        &.rot3 {
          transform: rotate(-45deg);
        }
        &.basic {
          transform: rotate(0);
          opacity: 1;
        }
      }
    }
  }
}
